html {
    height: 100%;
}

body {
    font-family: $font;
    background-color: getColor(clr-grey);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

main {
    margin-top: 4rem;
}

a {
    transition: all 0.125s ease-in-out;
}

a:hover,
a:focus {
    color: getColor(clr-primary) !important;
    text-decoration: none;
}
