.footer {
    background-color: getColor(clr-light-grey);
    color: getColor(clr-dark-grey);

    &__inner {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (min-width: $tablet-width) {
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &__link {
        color: inherit;
    }

    &__text {
        margin: 0.5rem;
    }
}
