.square__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.square {
    width: $square-size;
    height: $square-size;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1rem;

    &--cream {
        @include square-style(clr-cream, clr-cream);
    }

    &--white {
        @include square-style(clr-white, clr-primary);
    }

    &--pink {
        @include square-style(clr-primary, clr-white);
    }
}
